@import "./fonts.css";

:root {
  --accent: #b15fff;
  --green: #b0fde4;
  --dark: #000000;
  --white: #ffffff;
  --grey: #f5f5f6;
  --warning: #ff4053;

  --fontsize: 16px;
  --textcolor: #1f1f1f;
  --lineheight: 1.25;

  --font-family: "Poppins", sans-serif;
  --second-family: "Montserrat", sans-serif;

  --container: 644px;
  --transition: 0.25s ease-out;
}

* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  font-size: var(--fontsize);
  line-height: var(--lineheight);
  color: var(--textcolor);
  min-width: 394px;
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 22px;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background-color: var(--green);
  color: var(--dark);
  font-weight: 600;
  line-height: 1.5;
  font-family: var(--second-family);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.button--small {
  background-color: #ffffff66;
  border-radius: 100px;
  padding: 6px 18px;
  width: max-content;
  min-width: 82px;
}

.last-chance {
  color: var(--white);
  background-color: var(--warning);
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}
.last-chance::after {
  display: block;
  content: "";
  height: 15px;
  background-color: var(--dark);
}

.header {
  padding-top: 24px;
  padding-bottom: 8px;
  color: var(--white);
  background: var(--dark);
}
.header__wrap {
  position: relative;
}
.logo {
  text-align: center;
}
.header__menu {
  position: absolute;
  bottom: 0;
  right: 0;
}
.menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
}
.menu > img {
  display: block;
}
.nav {
  padding-top: 50px;
  height: 100vh;
  display: none;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 500;
  line-height: 1.5;
}
.nav__item {
  margin-bottom: 15px;
}
.nav__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}
.nav__link:hover {
  font-weight: 600;
}
.nav__link::after {
  display: block;
  content: url(../images/arrow-right.png);
}
.informer {
  width: 200px;
  margin: 0 auto 15px;
  padding: 10px;
  color: var(--dark);
  border: 1px solid #fff;
  border-radius: 16px;
  background-color: var(--white);
}
.rating {
  display: flex;
  justify-content: space-between;
}
.reveiws__link {
  display: inline-block;
  transform: translate(2px, 6px);
}
.price {
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 43px;
}
.price__current {
  margin-right: 20px;
}
.price__old {
  position: relative;
  font-size: 27px;
  font-weight: 500;
}
.price__old::after {
  display: block;
  content: url(../images/old.png);
  position: absolute;
  top: -6%;
  left: 5px;
}
.discount {
  color: var(--warning);
}

.main {
  margin-bottom: 42px;
}

.hero {
  margin-bottom: 19px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--white);
  background-color: var(--dark);
  text-align: center;
}
.hero__text {
  margin-bottom: 20px;
}
.hero__text p {
  margin: 0;
  background: linear-gradient(135deg, #878787 0%, #fefefe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__text p:first-of-type {
  margin-bottom: 19px;
  font-size: 32px;
  font-weight: 700;
}
.hero__img {
  margin-bottom: 37px;
}
.hero__img img {
  width: 100%;
  height: auto;
}
.trustpilot {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.trustpilot__express,
.trustpilot__trustpilot,
.trustpilot__excellent {
  padding: 5px 8px 0;
  color: var(--textcolor);
  background-color: #d5d5d5;
  border-radius: 4px;
}
.trustpilot__trustpilot {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 8px;
  width: 158px;
}
.trustpilot__stars {
  margin: 4px 0 0;
}
.trustpilot__excellent {
  font-family: var(--second-family);
  font-size: 12px;
  font-weight: 500;
  width: 92px;
  line-height: 1;
}
.trustpilot__excellent span:first-of-type {
  font-weight: 700;
  font-size: 16px;
}
.trustpilot__excellent span:last-of-type {
  font-weight: 700;
}
.trustpilot__img {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  margin-right: 2px;
}

.product {
  margin-bottom: 39px;
}
.product__image {
  margin-bottom: 10px;
}
.slider .indicator__part {
  width: 25%;
  background-color: #a0a0a0;
  position: absolute;
  left: 0;
}
.slider__wrap {
  position: relative;
  margin-bottom: 10%;
}
.slider__item {
  display: none;
  padding-bottom: 90%;
}
.slider__item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.125;
}
.product__description p {
  margin-top: 0;
  margin-bottom: 8px;
}
.product__description {
  margin-bottom: 20px;
}
.indicator {
  height: 8px;
  border-radius: 10px;
  background-color: #ebeae8;
  position: relative;
}
.indicator__part {
  width: 33%;
  height: inherit;
  border-radius: 10px;
  background-color: var(--warning);
}
.product__left {
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 33px;
  color: var(--warning);
}
.timer {
  margin-bottom: 11px;
  padding: 8px 24px;
  line-height: 1.5;
  text-align: center;
  border-radius: 1000px;
  background-color: var(--grey);
}
.timer__expire {
  color: var(--accent);
  font-weight: 600;
  display: inline-block;
  min-width: 70px;
}
.product__price.price {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  color: var(--textcolor);
  margin-bottom: 16px;
}
.product__price .price__old {
  font-size: var(--fontsize);
  font-weight: 400;
  color: var(--textcolor);
  display: block;
}
.product__price .price__old::after {
  transform: scale(0.65) translateX(-25px);
}

.offer {
  margin-bottom: 10px;
}
.offer__text {
  margin-top: 0;
  margin-bottom: 6px;
  margin: 0 auto 6px;
  max-width: 350px;
  font-size: 14px;
  color: var(--dark);
  text-align: center;
  line-height: 2;
}
.offer__text img {
  transform: translate(-5px, 4px);
}
.condition p {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 14px;
  color: #717271;
}
.free-shipping__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
}
.free-shipping__title + .menu {
  padding: 0;
}
.menu--rotate {
  transform: rotate(180deg);
}
.free-shipping__partners {
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 16px;
}
.free-shipping__desc {
  margin-top: 0;
  color: #6b6b6b;
  line-height: 1.3;
}

.footer {
  padding: 16px 0;
  color: #ffffff66;
  font-size: 8px;
  line-height: 1.5;
  text-align: center;
  background-color: var(--dark);
}
.footer p {
  margin: 0;
  width: 98%;
}
.footer p:last-of-type {
  margin-bottom: 8px;
  height: 24px;
  overflow: hidden;
}

.confirm {
  max-width: 400px;
  margin: 0 auto;
  padding: 4px 16px 16px 16px;
  border: 2px solid #b0fde4;
  border-radius: 12px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  display: none;
}
.confirm__head {
  display: flex;
  justify-content: space-between;
}
.confirm__table {
  margin-bottom: 30px;
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
  padding-top: 14%;
  padding-bottom: 2%;
  border-radius: 10px;
  position: relative;
}
.confirm__table caption {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 14%;
  width: 100%;
  padding: 0 7%;
}
.confirm p {
  font-size: 18px;
}
.confirm tr {
  font-weight: 400;
  text-align: center;
}
.confirm__table::after {
  display: block;
  content: "";
  width: 100%;
  border-top: 1px dotted var(--dark);
  position: absolute;
  bottom: -15px;
}

.hidden {
  display: none;
}
.show {
  display: block;
}
.header.show-nav {
  color: var(--dark);
  background: var(--white);
}
.header.show-nav nav {
  display: block;
  animation: item-show 1s;
}
.show-nav .logo {
  text-align: left;
}

@keyframes item-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider__item.show,
.confirm.show {
  /* animation-name: item-show;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-direction: reverse; */
  animation: item-show 2s;
}
